.footer-wrapper
  .base-width.footer
    .container.clearfix
      .grid-6 vasiliy-tataurov.ru 2014
      .grid-6
        %ul.footer-nav.nav-list.clearfix
          %li.nav-list-item
            %a{href: root_url} Главная
          %li.nav-list-item
            %a{href: works_path} Работы
          %li.nav-list-item
            %a{href: '#'} Обо мне
          %li.nav-list-item
            %a{href: '#'} Контакты

