.header-wrapper
  .base-width.header
    .container.clearfix.header-top
      .grid-6
        %a.logo{href: root_url}
          %span.title-
            Резьба
            %span по
            Дереву
          %span.description- портфолио Татаурова Василия
      .grid-6
        %a.sand-mail{href: 'mailto:zaealnm@mail.ru'} Написать мне
    .container.clearfix
      %nav.navigation
        %ul.nav-list.clearfix
          %li.nav-list-item{class: current_page?(root_url) && :active}
            %a{href: root_url} Главная
          %li.nav-list-item{class: current_page?(works_path) && :active}
            %a{href: works_path} Работы
          %li.nav-list-item{class: current_page?(about_path) && :active}
            %a{href: about_url} Обо мне
          %li.nav-list-item{class: current_page?(contacts_path) && :active}
            %a{href: contacts_path} Контакты
