- if @slides.exists?
  .slider-frame
    .slider-wrapper
      .js-root-slide.iosslider
        .slider
          - @slides.each do |slide|
            .slide
              .slide-bg
                %img{src: asset_path(slide.slide_image.url(:main_image))}
        .navigation
          - @slides.count.times do |i|
            .item{class: i == 0 && :selected}
        #js-slider-right.slider-arrow.right-
        #js-slider-left.slider-arrow.left-
